/* Général */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f1f1f1;
}

/* Header */

header {
    background: url('../img/library_home.jpg');
    background-size: cover;
    height: 145vh;
}

.text-intro {
    padding-top: 20px;
    padding-bottom: 30px;
}

.preTxt {
    font-size: 20px;
}

.postTxt {
    padding-bottom: 30px;
}

h1 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 700;
}

.container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.information  {
    padding-top: 20px;
}

/* Médias Queries */

@media screen and (max-width: 768px) {

    .text-intro {
        padding-top: 20px;
    }

    .preTxt {
        font-size: 20px;
    }

    h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 500px) {

    .preTxt {
        font-size: 20px;
    }
    h1{
        font-size: 39px;
    }

    .text-intro a {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 500px) {

    .container{
        width: 250px;
        margin-right: auto;
        margin-left: auto;
    }

    
}


